/* general styling */

:root {
    --footerHeight: 5vh;
}

body {
    margin: 0;
    background-color: black;
    text-transform: uppercase;
}


/* For getting the back button to stay at the bottom */

.contentWrap {
    padding-bottom: var(--footerHeight);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footerHeight);
}


/* styling for game screens */

#game {
    margin: 0 auto;
    width: 135vh;
    height: 90vh;
    background-color: white;
    font-size: 4vh;
    margin-top: 1vh;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

#game .screen.active {
    display: block;
}


/* Syling for loading screen */

#loadingScreen {
    height: 100%;
    font-size: 20vh;
    position: relative;
}

#loadingScreen .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* styling for gamePlay screens */

#gamePlay {
    background-color: black;
}

#gamePlay canvas {
    float: left;
}

.inGameMenu {
    float: left;
    /* background-color: darkblgray; */
    height: 100%;
    width: 45vh;
    color: greenyellow;
    font-size: 3vh;
    display: grid;
    grid-template-areas: 'level wave' 'time score' 'gold lives' 'ground1 ground2' 'ground1 ground2' 'air mixed' 'air mixed' 'dialog dialog' 'dialog dialog' 'dialog dialog' 'nextWave nextWave' 'song sounds';
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: repeat(12, minmax(0, 1fr));
}

.inGameMenu div {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    text-align: left;
    padding: 1.5vh;
}

.item1 {
    grid-area: level;
    background-image: url("/assets/images/menu/ground1.png");
    background-size: cover;
}

.item2 {
    grid-area: wave;
    background-image: url("/assets/images/menu/mixed.png");
    background-size: cover;
}

.item3 {
    grid-area: time;
    background-image: url("/assets/images/menu/air.png");
    background-size: cover;
}

.item4 {
    grid-area: score;
    background-image: url("/assets/images/menu/ground2.png");
    background-size: cover;
}

.item5 {
    grid-area: gold;
    background-image: url("/assets/images/menu/ground1.png");
    background-size: cover;
}

.item6 {
    grid-area: lives;
    background-image: url("/assets/images/menu/mixed.png");
    background-size: cover;
}

.item7 {
    grid-area: ground1;
    background-image: url("/assets/images/towers/ground1.png"), url("/assets/images/menu/menuTile.png");
    background-size: contain, cover;
}

.item8 {
    grid-area: ground2;
    background-image: url("/assets/images/towers/bomb1.png"), url("/assets/images/menu/menuTile.png");
    background-size: contain, cover;
}

.item9 {
    grid-area: air;
    background-image: url("/assets/images/towers/air1.png"), url("/assets/images/menu/menuTile.png");
    background-size: contain, cover;
}

.item10 {
    grid-area: mixed;
    background-image: url("/assets/images/towers/mixed1.png"), url("/assets/images/menu/menuTile.png");
    background-size: contain, cover;
}

.item11 {
    grid-area: dialog;
    background-color: black;
    font-size: 2vh;
    border: 1px solid greenyellow;
    word-wrap: break-word;
}

.item12 {
    grid-area: nextWave;
    background-image: url("/assets/images/menu/air.png");
    background-size: cover;
}

#nextWaveButton {
    text-transform: uppercase;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 4vh;
    background-color: transparent;
    color: greenyellow;
    border: none;
}

.item13 {
    grid-area: song;
    background-image: url("/assets/images/menu/ground2.png");
    background-size: cover;
}

.item14 {
    grid-area: sounds;
    background-image: url("/assets/images/menu/ground1.png");
    background-size: cover;
}


/* styling main menu */


/* styling high scores */