/* general styling */

:root {
    --footerHeight: 5vh;
}

body {
    margin: 0;
    background-color: black;
}


/* For getting the back button to stay at the bottom */

.contentWrap {
    padding-bottom: var(--footerHeight);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footerHeight);
}


/* styling for game screens */

#game {
    margin: 0 auto;
    width: 135vh;
    height: 90vh;
    background-color: white;
    font-size: 4vh;
    margin-top: 1vh;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

#game .screen.active {
    display: block;
}


/* Syling for loading screen */

#loadingScreen {
    height: 100%;
    font-size: 20vh;
    position: relative;
}

#loadingScreen .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* styling for gamePlay screens */

#gamePlay {
    background-color: black;
}

#gamePlay canvas {
    float: left;
}

.inGameMenu {
    float: left;
    background-color: black;
    height: 90vh;
    width: 45vh;
    color: white;
    font-size: 3vh;
}


/* styling main menu */


/* styling high scores */